<div class='container'>
	<div class='row'>
		<div class='col-md-6 offset-3'>
			<h4>Buyurtmangiz uchun tashakkur tez orada siz bilan aloqaga chiqamiz</h4>

			<div class='card-footer'>
				<a
					href='/product/all?page=1'
					type='button'
					class='btn btn-success'
				>Barcha mahsulotlar</a>
			</div>
		</div>
	</div>
</div>